.StreamContainer {
    position: relative;
}

.StreamContained {
    position: absolute;
}

.StreamImage {
    transform: rotate(180deg);
    height: 100vh;
    width: 100vh;
    background-size: 100% 100%;
}